extends ../layouts/default-layout.pug

block title
    title Trang chủ

block title
    title Trang chủ

block header_top
  .header__top
    .header__top--absolute
      include ../Partials/header_top

block header_slider
  include ../Partials/header_slider

block content
